body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form .custom-select{
    border-radius:1rem;
}
.contact-image img{
    margin-bottom: 8%;
    width: 350px;
}
.contact-form form{
    padding: 0 3% 5% 3%;
}
.contact-form label{
    font-weight: bold;
}
.contact-form h2{
    padding-top: 5%;
    padding-bottom: 3%;
    color: #0062cc;
}
.contact-form h4{
    margin-top: 20%;
    margin-bottom: 8%;
    color: #0062cc;
}
.contact-form .btnContact{
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.contact-form #img-upload{
    width: 350px;
    margin-bottom: 7%;
}
.table-hover tbody{
    cursor: pointer;
}
.contact-form .col-10{
    padding-bottom: 5%;
}
.table-hover td{
    color: #0062cc;
}
.col-6 tr{
    font-size: 18px;
    color: black;
}
.contact-form .col-12{
    font-size: 25px;
    color: #0062cc;
}
.col-6 .button{
    padding-bottom: 5%;
}
.contact-form .show{
    padding-bottom: 5%;
    padding-right: 7%;
}